
<header>
    <div class="logo">
      <%= image_tag 'logo.svg' %>
    </div>
  </header>

<div class="login">
    <div class="content">
    <h2>おかえりなさい👋</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"メールアドレスを入力" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password",placeholder:"パスワードを入力"  %>
          </div>

          <div class="forget_pass">
            <%= link_to "パスワードを忘れましたか？", new_password_path(resource_name) %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :ログインを保存 %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログインする" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

    </div>
</div>



<script>
$(function(){
    $('.js-modal-open').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
</script>

