<div class="wrapper">
  <header>
    <div class="logo">
      <%= image_tag 'logo.svg' %>
    </div>
  </header>

  <div class="main">
   <div class="wrapper">
      <div class="left">
        <h1>新しい年の<br>好奇心と出会おう</h1>
        <p>独自フォーマットで<br>
          新年の目標を具体的に設定しよう
        </p>
        <div class="registerbutton">
          <div class="content">
              <a class="js-modal-open" href="">無料で目標を立てる</a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="siteimg">
          <%= image_tag 'ui.png' %>
        </div>
      </div>
    </div>
  </div>

  <div class="statement">
    <div class="wrapper">
      <h2>"べき論"や"誰かの意見"ではなく<br>興味で進んでみてもいいじゃない</h2>
      <div class="divider"></div>
      <p>
      今年もお疲れさまでした。<br>2019年、どんな年だったでしょうか。</p>

<p>1年の振り返りから、新年の目標を立てるツールをつくってみました。<br>
その名も”NEWYEAR"。<br>めちゃくちゃ前向きな名称です。</p>

<p>今はとても生きづらい時代だなあと感じます。<br>
画面を見ればだれかの存在を簡単にチェックできるようになり<br>なにかすごいことをしないといけないだとか<br>何者かにならないといけないだとか<br>
そういうことを考えてしまって、疲れる人も増えたのではないでしょうか。</p>

<p>誰かのべき論を信じて<br>
無理なじぶんを演じたり、探してしまうことも<br>あるかもしれません。</p>

<p>そこで”自分自身について考えて自分らしさをみつけよう！”<br>
というためにNEWYEARを作ったわけではありません。</p>
<p>自分らしさより前にあるはずの<br>純粋な興味や好奇心とゆっくり向き合うきっかけになればと思い<br>
NEWYEARをつくりはじめました。</p>

<p>”だれかの意見”や”べき論”、”すごいこと”ではなくて、<br>
理由は分からないけど<br>心惹かれてしまうこと<br>
心に引っかかること<br>大事にしたいこと<br>
それらをベースに過ごす方が<br>
気持ちの良いじぶんになれるのではと考えています。</p>

<p>「あ、なんか今ワクワクしてるかも」<br>
そう思える時間をこの年末年始に持てるきっかけになれば幸いです。</p>

    </div>
  </div>

  <div class="howtouse">
<%# 
    <div class="title">
      <p>HOW TO USE</p>
      <h2>NEW YEARの楽しみ方</h2>
    </div> %>

    <%# <div class="phase first">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div> %>

    <%# <div class="phase second">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div> %>

    <%# <div class="phase third">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div> %>

  <%# </div> %>

  <div class="register">
    <div class="wrapper">
      <h3>今すぐやりたいことを具体的に</h3>
      <div class="regibutton">
        <div class="content">
            <a class="js-modal-open" href="">無料ではじめる</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
  <p><a href="https://www.notion.so/takumikai/48b0524200e144c484052b8e31277c14">プライバシーポリシー</a></p>
  <p><a href="https://www.notion.so/takumikai/NEWYEAR-67d94aff1869478b92f063b0f6d1ed97">利用規約</a></p>
  <p><a data-method="delete"  href="/users/sign_out">ログアウト</a></p>
  <div class="copyright">
    <p>©2019-2020 takumikai</p>
  </div>
  </footer>

</div>





<div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
        <h1>登録してはじめる👋</h1>

         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス",placeholder:"メールアドレスを入力" %>
              </div>

              <div class="field">
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "パスワード" ,placeholder:"パスワードを設定" %>
              </div>

              <div class="field">
                <%= f.label :パスワードの確認 %><br />
                <%= f.password_field :password_confirmation, autocomplete: "パスワードの確認" ,placeholder:"パスワードの確認" %>
              </div>

              <div class="actions">
                <%= f.submit "🚀はじめる" %>
              </div>
            <% end %>
            <div class="link_login">
            <%= link_to "ログインはこちら", new_user_registration_path %>
            </div>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
</div><!--modal-->

<script>
$(function(){
    $('.js-modal-open').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
</script>
