<div class="wrapper">
  <header>
    <div class="logo"></div>
  </header>

  <div class="main">
    <div class="left">
      <h1>新年のはじめ<br>好奇心を発掘しよう</h1>
      <p>忙しい毎日。いろんな声が目にとまる時代。<br>
         こんな時だから、今年を振り返って<br>
         じぶんらしい未来に思いを馳せてみませんか。
      </p>
      <div class="regibutton">
        <div class="content">
            <a class="js-modal-open" href="">無料で目標を立てる</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="siteimg">
        <img href="">
      </div>
    </div>
  </div>

  <div class="statement">
    <div class="wrapper">
      <h2>他の誰かじゃなくて<br>正直なじぶんが決める１年へ</h2>
      <div class="divider"></div>
      <p>
      今、ぼくらは変化のど真ん中を生きている。日々、テクノロジーが進化し、お金の価値観が変わり、国境もジェンダーも溶け、社会は破壊と創造を繰り返している。こんな挑戦に向いた時代を生きているのに、過去に囚われて立ち止まってはいないか。未来を恐れて頭でっかちになってはいないか。<br>
      <br>
      起業に正解はない。説明のためのデータもロジックも要らない。何年も先までの事業計画や、丁寧なプレゼン資料なんて作らなくていい。大事なのは、過去でもなく未来でもなく、今だ。今、自分たちが必要だと思うものを形にしよう。未来を自分の手でつくろう。すべては今この瞬間の、行動のあとに付いてくる。たとえ今、若く、無名で、力が無くとも。優しい革命を起こせ。ぼくらは、そんなナウイストのための発射台でありたい。
      </p>
    </div>
  </div>

  <div class="howtouse">

    <div class="title">
      <p>HOW TO USE</p>
      <h2>NEW YEARの楽しみ方</h2>
    </div>

    <div class="phase first">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div>

    <div class="phase second">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div>

    <div class="phase third">
      <div class="wrapper">
          <div class="left">
            <h3>3フェーズで振り返ろう</h3>
            <p>マスクを付けると顔が見えなくなるから安心！いまの気分でマスクをえらぼう。</p>  
          </div>
          <div class="right">
            <div class="siteimg"><img href=""></div>
          </div>
      </div>
    </div>

  </div>

  <div class="register">
    <div class="wrapper">
      <h3>ふりかえりと目標設定を１つで</h3>
      <div class="regibutton">
        <div class="content">
            <a class="js-modal-open" href="">無料で目標を立てる</a>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<p>ここにモーダルウィンドウで表示したいコンテンツを入れます。モーダルウィンドウを閉じる場合は下の「閉じる」をクリックするか、背景の黒い部分をクリックしても閉じることができます。</p>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
</div><!--modal-->

<script>
$(function(){
    $('.js-modal-open').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
});
</script>
